{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class = "mt-5" style = "text-align: center;">
    Profile
</h1>

<div class = "container">
    <img src = "{{user.profile.image.url}}" alt = "Profile Picture" style = "width: 200px; height: 200px; border-radius: 50%;">
    <h2>{{ user.username }}</h2>
    <h3>{{ user.first_name }}</h3>
    <h3>{{ user.last_name }}</h3>
    <h3>{{ user.email }}</h3>
    <h3>{{ user.profile.age }}</h3>

    <h1 class = "mt-5" style = "text-align: center; background-color: aqua;"> Posts </h1>

    {%for post in posts%}
    <div class="card" style="width: 18rem; margin-top: 20px; justify-content: center; display: flex;">
  {% if post.image %}
    <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap">
  {% else %}
    <img src = "{% static 'Portrait_Placeholder.png'%}" class = "card-img-top" alt="...">
  {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.content}}</p>
      <p class="card-text">{{post.rate}}</p>
      <p class="card-text">{{post.created_at}}</p>
      <a href="/posts/{{post.id}}" class="btn btn-primary">Go to post</a>
    </div>
    </div>
    {%endfor%}


</div>

{% endblock %}